<!DOCTYPE>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="https://developers.google.com/favicon.ico"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
  <form action="/" method="post">
  <input id="emailInput" type="email" name="email" placeholder="Your Employee's Email Address"/>
  <input id="nameInput" type="text" name="name" placeholder="Your Employee's Name"/>
  <input id="nameSubmit" type="submit">
</form>

</body>
</html>