<!DOCTYPE>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="https://developers.google.com/favicon.ico"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style>
p{
  dsplay:none;
}
</style>
</head>
<body>
  <p>
    <%=h @sentence %>
  </p>
</body>
</html>